
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/foodlayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/toastr/toastr.css" rel="stylesheet" />
<script src="~/toastr/toastr.js"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
<!--begin reservation-hero-section -->
<section id="hero-section" class="reservation-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->


</section>
<!--end reservation-hero-section -->
<!--begin section-white-->
<section class="section-white small-padding no-padding-bottomd">

    <div>
        <div class="col-md-3">


        </div>
        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row">

                <!--begin col-md-6-->
                <div class="col-md-6 text-center register-inner padding-top-30">

                    <span class="comic-text-ch">Change Password</span>

                    <h2 class="section-title"></h2>

                    <!--begin register form -->
                    <!--begin col-md-12-->
                    <div class="col-md-12">

                        <input class="register-input white-input" required="" id="txtOldPassword" name="register_password" placeholder="Old Password" type="password">

                        <input class="register-input white-input" required="" id="txtNewPassword" name="register_password" placeholder="New Password" type="password">

                        <input class="register-input white-input" required="" id="txtReNewPassword" name="register_password" placeholder="Confirm Password" type="password">

                        <label id="lblMessage"></label>

                    </div>

                    <!--begin col-md-12-->
                    <div class="col-md-12">

                        <input value="Change Password" id="btnPasswordChanged" class="register-submit" type="button">

                    </div>
                    <!--end col-md-12-->
                    <!--end register form -->

                </div>
                <!--end col-md-6-->

            </div>
            <!--end row-->

        </div>
        <!--end container-->
        <div class="col-md-3">


        </div>


    </div>

</section>
<!--end section-white-->


<script>
    $(document).ready(function () {

        var token = Cookies.get("JWTToken");
        
        $('#btnPasswordChanged').click(function () {
            var OldPassword = $('#txtOldPassword').val();
            var NewPassword = $('#txtNewPassword').val();
            var ReNewPassword = $('#txtReNewPassword').val();

            if (OldPassword.length == 0 || NewPassword == 0 || ReNewPassword == 0) {
                
                new Notify({
                    title: 'Alert!',
                    text: "Please fill all required fields",
                    status: 'warning',
                    effect: 'slide',// animation
                    speed: 300, // animation speed
                    type: 3,
                    autoclose: true,
                    autotimeout: 4000
                });
            }
            else {
                if (NewPassword !== ReNewPassword) {

                    new Notify({
                        title: 'Password Error!',
                        text: "NewPassword & ReNew Password Not Matched",
                        status: 'warning',
                        effect: 'slide',// animation
                        speed: 300, // animation speed
                        type: 3,
                        autoclose: true,
                        autotimeout: 4000
                    });
                }
                else {
                    var jsonObject = { "password": OldPassword, "newPassword": NewPassword }
                    $.ajax({
                        type: "POST",
                        url: "/api/ChangePasswordAPI/ChangePassword",
                        headers: {
                            "Authorization": 'Bearer ' + " " + token,
                        },
                        contentType: "application/json",
                        data: JSON.stringify(jsonObject),
                        success: function (response) {
                            if (response.status == "Password Change Successfully") {
                                new Notify({
                                    title: 'Done',
                                    text: response.status,
                                    status: 'success',
                                    effect: 'slide',// animation
                                    speed: 300, // animation speed
                                    type: 3,
                                    autoclose: true,
                                    autotimeout: 4000
                                });
                            }
                            else {
                                new Notify({
                                    title: 'Done',
                                    text: response.status,
                                    status: 'success',
                                    effect: 'slide',// animation
                                    speed: 300, // animation speed
                                    type: 3,
                                    autoclose: true,
                                    autotimeout: 4000
                                });
                            }

                        },
                        error: function () {
                            new Notify({
                                title: 'Server Says!',
                                text: "Server Error!",
                                status: 'error',
                                effect: 'slide',// animation
                                speed: 300, // animation speed
                                type: 3,
                                autoclose: true,
                                autotimeout: 4000
                            });

                            /*alert("Server Error!");*/
                    /*        prompt("", JSON.stringify(errormsg));*/
                        }
                    });
                }
            }
        });
    });
</script>


