
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/foodlayout.cshtml";
}

<!--begin contact-hero-section -->
<section id="hero-section" class="contact-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text wow fadeIn" data-wow-delay="0.5s">La Cuisine</span>

                <h2 class="section-title white wow bounceIn" data-wow-delay="1s">Get In Touch</h2>

                <p class="hero-text wow fadeInUp" data-wow-delay="2s">For any enquiries you can give us a call at <strong>+44 123 45 67 890</strong><br>Alternatively we can get in touch using the form bellow.</p>

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-hero-section -->
<!--begin contact2-hero-section-->
<div class="contact2-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <h3 class="section-title small-margin wow fadeIn" data-wow-delay="0.5s">CONTACT FORM</h3>

                <p class="wow fadeInUp" data-wow-delay="1s">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered<br>
                    alteration, by injected humour, or new randomised words which don't look believable.
                </p>

                <!--begin contact-wrapper-->
                <div class="contact-wrapper">

                    <!--begin success message -->
                    <p class="contact_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
                    <!--end success message -->
                    <!--begin contact form -->
                    <form id="contact-form" class="contact" action="https://demo.epic-webdesign.com/tf-fable/restaurant/php/contact.php" method="post">

                        <!--begin col-md-6-->
                        <div class="col-md-6 wow slideInLeft" data-wow-delay="0.5s">
                            <input class="contact-input white-input" required name="contact_names" placeholder="Full Name*" type="text">
                            <input class="contact-input white-input" required name="contact_email" placeholder="Email Adress*" type="email">
                            <input class="contact-input white-input" required name="contact_phone" placeholder="Phone Number*" type="text">
                        </div>
                        <!--end col-md-6-->
                        <!--begin col-md-6-->
                        <div class="col-md-6 wow slideInRight" data-wow-delay="0.5s">
                            <textarea class="contact-commnent white-input" rows="2" cols="20" name="contact_message" placeholder="Your Message..."></textarea>
                        </div>
                        <!--end col-md-6-->

                        <input value="Send Message" id="submit-button" class="contact-submit wow fadeInUp" data-wow-delay="1s" type="submit">

                    </form>
                    <!--end contact form -->

                </div>
                <!--end contact-wrapper-->

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</div>
<!--end contact2-hero-section-->
