
@{
    ViewData["Title"] = "FoodItemDetail";
    Layout = "~/Views/Shared/foodlayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<section id="hero-section" class="menu-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text white wow fadeIn" data-wow-delay="0.5s">Food Item</span>

                

                <p class="hero-text wow fadeInUp" data-wow-delay="2s">
                    An unforgettable dining experience in the heart of Covent Garden, London.<br>
                    Contemporary british menu, inspired by the traditions of Great Britain.
                </p>

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>

<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            
            <div class="col-md-6" id="FoodDetails" >

                <h2 id="FoodName"></h2>
                <img id="FoodImg" />
                <p id="FoodDescription"></p>
                <p id="FoodPrice"></p>
                <div class="row text-center margin-top-20 col-md-6">

                    <button class="btn btn-lg btn-warning scrool " id="btnOrderNow">Order Now</button>

                </div>



            </div>

            

    </div>
    <!--end container-->

</section>