
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/foodlayout.cshtml";
}
<!--begin gallery-hero-section -->
<section id="hero-section" class="gallery-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text wow fadeIn" data-wow-delay="0.5s">True Passion</span>

                <h2 class="section-title white wow bounceIn" data-wow-delay="1s">Natural Flavours</h2>

                <p class="hero-text wow fadeInUp" data-wow-delay="2s">An unforgettable dining experience in the heart of Covent Garden, London.<br>Contemporary british menu, inspired by the traditions of Great Britain.</p>

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end gallery-hero-section -->
<!--begin section-white-->
<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-4 -->
            <div class="col-md-4 margin-bottom-30">

                <!--begin popup image -->
                <div class="popup-wrapper">
                    <div class="popup-gallery">
                        <a class="popup3" href="images/food3.jpg"><img src="/food/images/food3.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-expand1 eye-icon"></i></span></a>
                    </div>
                </div>
                <!--begin popup image -->

            </div>
            <!--end col-md-4-->
            <!--begin col-md-4 -->
            <div class="col-md-4 margin-bottom-30">

                <!--begin popup image -->
                <div class="popup-wrapper">
                    <div class="popup-gallery">
                        <a class="popup3" href="images/food1.jpg"><img src="/food/images/food1.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-expand1 eye-icon"></i></span></a>
                    </div>
                </div>
                <!--begin popup image -->

            </div>
            <!--end col-md-4-->
            <!--begin col-md-4 -->
            <div class="col-md-4 margin-bottom-30">

                <!--begin popup image -->
                <div class="popup-wrapper">
                    <div class="popup-gallery">
                        <a class="popup3" href="images/food4.jpg"><img src="/food/images/food4.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-expand1 eye-icon"></i></span></a>
                    </div>
                </div>
                <!--begin popup image -->

            </div>
            <!--end col-md-4-->

        </div>
        <!--end row-->
        <!--begin row-->
        <div class="row">

            <!--begin col-md-4 -->
            <div class="col-md-4 margin-bottom-30">

                <!--begin popup image -->
                <div class="popup-wrapper">
                    <div class="popup-gallery">
                        <a class="popup3" href="images/food2.jpg"><img src="/food/images/food2.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-expand1 eye-icon"></i></span></a>
                    </div>
                </div>
                <!--begin popup image -->

            </div>
            <!--end col-md-4-->
            <!--begin col-md-4 -->
            <div class="col-md-4 margin-bottom-30">

                <!--begin popup image -->
                <div class="popup-wrapper">
                    <div class="popup-gallery">
                        <a class="popup3" href="images/food5.jpg"><img src="/food/images/food5.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-expand1 eye-icon"></i></span></a>
                    </div>
                </div>
                <!--begin popup image -->

            </div>
            <!--end col-md-4-->
            <!--begin col-md-4 -->
            <div class="col-md-4 margin-bottom-30">

                <!--begin popup image -->
                <div class="popup-wrapper">
                    <div class="popup-gallery">
                        <a class="popup3" href="images/food9.jpg"><img src="/food/images/food9.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-expand1 eye-icon"></i></span></a>
                    </div>
                </div>
                <!--begin popup image -->

            </div>
            <!--end col-md-4-->

        </div>
        <!--end row-->
        <!--begin row-->
        <div class="row">

            <!--begin col-md-4 -->
            <div class="col-md-4 margin-bottom-30">

                <!--begin popup image -->
                <div class="popup-wrapper">
                    <div class="popup-gallery">
                        <a class="popup3" href="images/food12.jpg"><img src="/food/images/food12.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-expand1 eye-icon"></i></span></a>
                    </div>
                </div>
                <!--begin popup image -->

            </div>
            <!--end col-md-4-->
            <!--begin col-md-4 -->
            <div class="col-md-4 margin-bottom-30">

                <!--begin popup image -->
                <div class="popup-wrapper">
                    <div class="popup-gallery">
                        <a class="popup3" href="images/food11.jpg"><img src="/food/images/food11.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-expand1 eye-icon"></i></span></a>
                    </div>
                </div>
                <!--begin popup image -->

            </div>
            <!--end col-md-4-->
            <!--begin col-md-4 -->
            <div class="col-md-4 margin-bottom-30">

                <!--begin popup image -->
                <div class="popup-wrapper">
                    <div class="popup-gallery">
                        <a class="popup3" href="images/food10.jpg"><img src="/food/images/food10.jpg" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-expand1 eye-icon"></i></span></a>
                    </div>
                </div>
                <!--begin popup image -->

            </div>
            <!--end col-md-4-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white-->
