
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/foodlayout.cshtml";
}
<link href="~/toastr/toastr.css" rel="stylesheet" />
<script src="~/toastr/toastr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<!--begin reservation-hero-section -->
<section id="hero-section" class="reservation-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text wow fadeIn" data-wow-delay="0.5s">Login Here</span>


                <p class="hero-text wow fadeInUp" data-wow-delay="2s">  <h2 class="section-title white wow bounceIn" data-wow-delay="1s">Moments Of Delivered On Time</h2></p>

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end reservation-hero-section -->
<!--begin section-white-->
<section class="section-white small-padding no-padding-bottom">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6 wow bounceInUp">

                <img src="images/chef2.jpg" alt="picture" class="width-100">

            </div>
            <!--end col-md-6-->
            <!--begin col-md-6-->
            <div class="col-md-6 text-center register-inner padding-top-30">

                <span class="comic-text">Login</span>

                <h2 class="section-title"></h2>



                <!--begin success message -->
                <p class="register_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
                <!--end success message -->
                <!--begin register form -->
               
                    <!--begin col-md-12-->
                    <div class="col-md-12">


                        <input class="register-input white-input" required="" id="Email" name="register_email" placeholder="Email Adress" type="email">
                        <input class="register-input white-input" required="" id="Password" name="register_password" placeholder="Password" type="password">

                        <label id="lblMessage"></label>

                    </div>

                    <!--begin col-md-12-->
                    <div class="col-md-12">

                        <input value="Login" id="button" class="register-submit" type="submit">

                    </div>
                    <!--end col-md-12-->

                <!--end register form -->

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white-->

<script>
    $(document).ready(function () {

        $('#button').click(function () {
            var Email = $('#Email').val();
            var Password = $('#Password').val();
            var MyJson = { "email": Email, "password": Password };
            $.ajax({
                type: "POST",
                url: "/api/Login/LoginUser",
                data: JSON.stringify(MyJson),
                contentType: "application/json;",
                dataType: "JSON",
                success: function (response) {
                    if (response.status == "Login Successfull") {
                        new Notify({
                            title: 'Login',
                            text: "Login Successfully",
                            status: 'success',
                            effect: 'slide',// animation
                            speed: 300, // animation speed
                            type: 3,
                            autoclose: true,
                            autotimeout: 2000
                        });
                        Cookies.set("JWTToken", response.token);
                        window.location.href = "/food/Index";
                    }
                    else {
                        new Notify({
                            title: 'Login',
                            text: 'Invalid Email and Password.',
                            status: 'warning',
                            effect: 'slide',// animation
                            speed: 300, // animation speed
                            type: 3,
                            autoclose: true,
                            autotimeout: 2000
                        });
                    }
                },
                error: function (errormsg) {
                    prompt("", JSON.stringify(errormsg));
                }
            });
        });
    });

</script>
